.container-fluid
    padding: 0 !important

    #mAviso
        position: absolute
        top: 0
        color: white
        padding-top: 10px

        img
            height: 25px
            margin-top: -8px

    #dCMS

        #dTablas
            display: flex
            flex-direction: column

            position: absolute
            overflow: hidden

            margin-left: 0.5rem
            top: 50%
            -ms-transform: translateY(-50%)
            transform: translateY(-50%)
            max-width: 350px

            padding: 6px !important
            padding-bottom: 8px !important
            background-color: #000000 !important
            border-color: #BA8B02 !important

            .ui-state-active
                background-color: #000000 !important
                border-color: #8e8e8e
                border-bottom: none

            .ui-accordion-content
                margin-top: -8px !important
                margin-bottom: 8px !important

                .dTabs
                    ul
                        padding: 0
                        li
                            padding-top: 10px !important

                            a
                                text-decoration: none

                                &:hover
                                    color: #BA8B02

        .showTable

            max-width: 1000px !important
            padding-top: 1rem !important

            .MuiPaper-root
                border: 2.5px solid #929292

                .tss-1fz5efq-MUIDataTableToolbar-left

                    display: flex
                    position: absolute
                    left: 0
                    right: 0
                    margin-left: auto
                    margin-right: auto
                    width: fit-content

                    h6
                        font-size: 35px

                .tss-1cdcmys-MUIDataTable-responsiveBase
                    //scrollbar-color: #BA8B02 whitesmoke

                table
                    thead
                        th
                            padding-top: 32px
                            padding-bottom: 0

                            button
                                font-size: 12px
                                text-align: center
                                background-color: #BA8B02 !important
                                margin: 0
                                top: 50%
                                left: 50%
                                -ms-transform: translate(-50%, -50%)
                                transform: translate(-50%, -50%)

                                .tss-bd2lw8-MUIDataTableHeadCell-sortActive
                                    color: white
                                svg
                                    color: white
                    tbody
                        tr
                            height: 102px

                            td
                                font-size: 12px

                                .tss-1qtl85h-MUIDataTableBodyCell-root
                                    text-align: center
                    tfoot
                        tr
                            td
                                .MuiTablePagination-selectLabel
                                    padding-top: 15px !important

                                .MuiTablePagination-displayedRows
                                    padding-top: 15px !important
        #dShowBackImage
            height: 750px
            padding: 0 !important
            #dBackImage
                height: 50%
                width: 50%
                background-image: url("../imagenes/juanquer.gif")
                background-repeat: no-repeat
                background-position: center
                -webkit-border-radius: 50%
                -moz-border-radius: 50%
                border-radius: 50%
                border: 1px solid #ffffff4d
                overflow: hidden
        .formsAPI

            .container
                max-width: 1000px

                background-color: #000000 !important
                border-color: #BA8B02 !important

                .formEdit
                    width: 100%
                    display: flex !important
                    flex-direction: row !important
                    flex-wrap: wrap !important
                    padding-top: 10px !important

                .dDataInput
                    width: 50%

                    p
                        color: white

                    label
                        color: white
                        margin-top: 5px

                    input[type="file"]
                        color: white

                    input
                        width: fit-content

                .dDataInputBtn
                    width: 100%
                    padding-top: 10px !important
                    padding-bottom: 10px !important

            .dDeleteData
                padding-top: 10px !important

                .dDataInput
                    width: 100%

                .dDataInputBtn
                    margin-top: 10px
