*

.container-fluid
    padding: 0 !important

    #dCMS

        #dTablas
            display: flex
            flex-direction: column

            position: absolute

            margin-left: 0.5rem
            max-width: 350px

            .ui-state-active
                background-color: #000000 !important
                border-color: #8e8e8e 
                border-bottom: none

        .showTable

            max-width: 1000px !important

            button
                font-size: 12px

            tbody
                tr
                    td
                        font-size: 12px
                        word-break: break-all
