.card
    margin-top: 1rem
    min-width: 500px
    text-align: center
    text-decoration: none !important
    background-color: rgb(21, 167, 26)

.cardP 
    width: 95%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    border-radius: 1rem
    background: #000000
    background: -webkit-linear-gradient(to right, #434343, #000000)
    background: linear-gradient(to right, #434343, #000000)
    background-image: url("../imagenes/fondo-card.jpg")
    background-size: contain
    color: white
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7)
    flex-direction: row

    .tituloCard
        width: 100%
    
    .imagen-y-detalles
         width: 100%
         display: flex
         justify-content: space-evenly

  
.boton-entrar
    background-color: #BA8B02!important
    

// @media (max-width: 770px) 
//     .cardP 
//       max-width: 300px
//       img
//         max-width: 170px
//       a
//           width: 70%

// @media (max-width:1000px) 
//     .cardP 
//       max-width: 300px
//       img
//         max-width: 170px
//       a
//           width: 70%