.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden 
    position: relative

    &:last-child
        margin-bottom: 30px

    .swiper-button-prev
        height: 100%
        padding-left: 20px
        padding-right: 50px

        margin-top: 0 !important
        margin-left: -10px

        top: 50%
        transform: translateY(-50%)

        color: var(--swiper-navigation-color, white)

        background-color: #000000a9

    .swiper-button-next
        height: 100%
        padding-left: 50px
        padding-right: 20px

        margin-top: 0 !important
        margin-right: -10px

        top: 50%
        transform: translateY(-50%)

        color: var(--swiper-navigation-color, white)

        background-color: #000000a9

    &.hypeSwiper

        .swiper-button-prev
            

        .swiper-button-next
            

    .swiper-pagination
        bottom: 0px 
        margin-left: auto
        margin-right: auto
        
        .swiper-pagination-bullet
            background: var(--swiper-pagination-bullet-inactive-color,#ffffff)

    .swiper-wrapper

        padding-bottom: 30px

        .swiper-slide

            display: flex
            justify-content: center
