#textarea
   width: 68%
   float: right
   
   
.comments-container
    margin: 60px auto 15px
    width: 100%
 


a 
    color: #03658c
    text-decoration: none
  
 
ul 
    list-style-type: none
 
 
 
.comments-container h1 a 
    font-size: 18px
    font-weight: 700
 
 
.comments-list
   margin-top: 30px
   position: relative

 
.comments-list:before 
   content: ''
   width: 2px
   height: 100%
   background: #c7cacb
   position: absolute
   left: 32px
   top: 0
 

.comments-list:after 
   content: ''
   position: absolute
   background: #c7cacb
   bottom: 0
   left: 27px
   width: 7px
   height: 7px
   border: 3px solid #dee1e3
   -webkit-border-radius: 50%
   -moz-border-radius: 50%
   border-radius: 50%
 
 

.comments-list li 
   margin-bottom: 15px
   display: block
   position: relative
 
 
.comments-list li:after 
   content: ''
   display: block
   clear: both
   height: 0
   width: 0
 
 
.reply-list 
   padding-left: 88px
   clear: both
   margin-top: 15px
 
 
.comments-list .comment-box 
   width: 70%
   float: right
   position: relative
   -webkit-box-shadow: 0 1px 1px rgba(28, 150, 21, 0.458)
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15)
   box-shadow: 0 1px 1px rgba(106, 230, 17, 0.861)
   margin-top: 1rem
 
 
.comments-list .comment-box:before, .comments-list .comment-box:after
   content: ''
   height: 0
   width: 0
   position: absolute
   display: block
   border-width: 10px 12px 10px 0
   border-style: solid
   border-color: transparent #FCFCFC
   top: 8px
   left: -11px
 
 
.comments-list .comment-box:before 
   border-width: 11px 13px 11px 0
   border-color: transparent rgba(0,0,0,0.05)
   left: -12px
 


.comment-box .comment-head 
   background: #FCFCFC
   padding: 10px 12px
   border-bottom: 1px solid #E5E5E5
   overflow: hidden
   -webkit-border-radius: 4px 4px 0 0
   -moz-border-radius: 4px 4px 0 0
   border-radius: 4px 4px 0 0
 
 
.comment-box .comment-head i 
   float: right
   margin-left: 14px
   position: relative
   top: 2px
   color: #A6A6A6
   cursor: pointer
   -webkit-transition: color 0.3s ease
   -o-transition: color 0.3s ease
   transition: color 0.3s ease

 
.comment-box .comment-head i:hover 
   color: #03658c
 
 

.comment-box .comment-name a 
   color: #283035
 
 
.comment-box .comment-head span 
   float: left
   color: #999
   font-size: 13px
   position: relative
   top: 1px
 
 
.comment-box .comment-content 
   background: #FFF
   padding: 12px
   font-size: 15px
   color: #595959
   -webkit-border-radius: 0 0 4px 4px
   -moz-border-radius: 0 0 4px 4px
   border-radius: 0 0 4px 4px
 
 
