.hype-container
    position: fixed

    transform: translate3d(0%, -50%, 0px)

    top: 50%
    right: 0

    margin-right: -2px

    padding: 5px 0 5px 3px

    width: fit-content

    background-color: black

    border-top-left-radius: 8px
    border-bottom-left-radius: 8px

    z-index: 99999

    &:before 
        content: ""

        position: absolute
        z-index: -1

        inset: 0

        padding: 2px

        border-top-left-radius: 8px
        border-bottom-left-radius: 8px

        background: linear-gradient(110deg, white , #ffc107)

        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
        -webkit-mask-composite: xor
        mask-composite: exclude

    .hype
        cursor: pointer

        height: 50px 
    
.container-evento
    border: 2px solid white
    padding-left: 0.6%
    margin-top: 60px
    margin-bottom: 60px
    color: white
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

    .cabecera-evento
        width: 100%
        height: 20%
        background: linear-gradient(to right, #434343, #979292)
        display: flex
        flex-wrap: wrap
        justify-content: center

        #fondo-evento
            width: 100%!important
            max-height: 600px
            height: 600px
            background-size: cover
            display: flex
            justify-content: flex-end
            align-items: end
            background-color: white

            .dFilter
                position: relative

                height: 100%
                width: 100%

                background-color: #00000038
                -webkit-backdrop-filter: blur(0.5rem)
                -moz-backdrop-filter: blur(0.5rem)
                backdrop-filter: blur(0.5rem)

                .absolute-info
                    position: absolute

                    display: flex
                    flex-wrap: wrap

                    bottom: 0

                    width: 100%

                    background: linear-gradient(360deg, #000000d0, transparent)

                    h1
                        text-decoration: none

                    .dDisponibilidad
                        width: 100%

                        .cuadrado-info
                            width: 100px
                            height: 6rem
                            //border-left: 3px solid white 
                            padding-top: 2%
        #btn-inscribir
            margin-top: 50px
            
    .body-details
        background:  linear-gradient(to right, #434343, #979292)
        width: 100%
        padding: 3%

        padding-top: 0

        .container
    
            .bloc-tabs

            .content-tabs

                .content

                    .comments-container

                        form

                            @media screen and (max-width: 1000px)
                                display: flex
                                flex-direction: column
                                align-content: center
                                justify-content: center

                    #map
                        height: 400px
                        width:  1000px

                        .leaflet-container
                            height: 100%
                            width: 100%
                            margin-left: 10%
                            margin-bottom: 5%


                    .texto-pestaña-detalles
                        margin-left: 3rem


