.container-evento
    border: 2px solid white
    padding-top: 0.6%
    padding-left: 0.6%
    color: white
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

.cabecera-evento
    width: 100%
    height: 20%
    background: linear-gradient(to right, #434343, #979292)
    padding: 2%
    display: flex
    flex-wrap: wrap
    justify-content: center


.body-details
    background:  linear-gradient(to right, #434343, #979292)
    width: 100%
    padding: 3%!important

#fondo-evento
    width: 100%!important
    height: 400px
    background-size: cover
    display: flex
    justify-content: flex-end
    align-items: end
    background-color: white
    
   
.absolute-info
   
    background: linear-gradient(to right, #3a3939b0, #000000)
    width: 50%
    display: flex
    flex-wrap: wrap

    a
        margin-right: 5px

.cuadrado-info
    width: 15%
    height: 6rem
    border-left: 3px solid white 
    padding: 2%

.inscribirse-hype-container
    display: flex
    justify-content: space-between
    align-items: center

#btn-inscribir
    margin-top: 25%

.leaflet-container
    height: 200px
    width: 80%
    margin-left: 10%
    margin-bottom: 5%

#map 
    height: 200px
    

.texto-pestaña-detalles
    margin-left: 3rem



@media (max-width: 998px) 
  
    .absolute-info
        background: linear-gradient(to right, #3a3939b0, #000000)
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: center
        

    a
        margin-right: 5px
        width: 3rem
  
    .inscribirse-hype-container
        width: 55%
        display: flex
        justify-content: space-between
        align-items: center

    form
        display: flex
        flex-direction: column
        align-content: center
        justify-content: center