
  
  .login-container{
	  display:none;
	 background-color:  rgba(23, 135, 255, 0.777);
	  align-items:center;
	  justify-content:center;
	  height:100vh;
	  width:100%;
	  z-index: 1;
  }

	.form-box{
		width:380px;
		height:450px;
		background-color:rgb(12, 235, 79);
		padding:20px;
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		opacity:1;
		border-radius:2%;
		border: 4px solid rgb(69, 24, 193);
	}
  .header-form{
	margin-bottom:15px;
  }
  button{
	margin-top:40px;
	margin-bottom:10px;
	background-color: aliceblue;
  }
  .login{
	  background-color: aliceblue !important;
  }
  .message{
	display:flex;
	justify-content:space-between
  }
  .social{
	display:flex;
	justify-content:space-around;
	padding:30px;
  }
  
  .social i{
	font-size:35px;
  }
  
  .social i:hover{
	color:red;
	cursor:pointer;
  }
  
  
  