
.cabecera {
  text-align: center;
  height: 7rem;
  margin-top: 5rem;
  
}
h1{
  font-size: 6rem;
}

.opcionMenu{
  width: 15%; 
  background-color: rgb(40, 72, 101);
  border: 1px black solid;
  text-align: center;
 
}

.formularioEditarComentario{
  display: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  background-color: #f9fafa  !important;
}

.container{
  background-color: #f9fafa9a;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;
  margin-top: 5%;
}

.leaflet-container {
 height: 20%;
 width:100%;
 z-index:0;
}

.aside{

width: 30%;
box-shadow: 5px 10px 10px #8888887c;

}

.bodyDetails{
 width:65%;
 
}

.container{

  padding: 0 !important;
}

.container-cartas{
  width: 100% ;
  display: flex;
  justify-content: space-between;
}

.container-datos{
  display: none;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 5rem;
  width: 100% !important;
  height: 100% !important;
  background-color: #536648de;
  border-radius: 20%
 
}


.register-container{

  height: 95%;
  width: 70%;
  background-color: #2b3035bc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  
}
.form-editar-usuario{
  transform: scale(0.85);
}

/* NAVBAR*/

.navbar {
  display: flex;
  align-items: center;
  background: rgb(30, 21, 31);
  color: white;
  font-family: Helvetica;
  font-weight: 300;
  position: sticky !important; 
  top: 0 !important;
  z-index: 1 !important;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
 
}

.navbar__title a{
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
  color: #93c814;
  text-decoration: none;
}


.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  
}
.navbar__item h2 a{
  color:white;
  text-decoration: none;
}

.navbar button a{
  color: white;
  text-decoration: none;
  
}

.logo-eventum{
  max-height: 180px;
  position: absolute;
  margin-left: 45%;
  margin-top: 6%;
  
}

.bienvenidoUsuario{

  background-color: #93c814;


}
.titoloEventos{
  width: 100%;
  height: 10rem;
  border: 1px solid black;
  text-align: center;
  padding-top: 5rem;
}
 /* fin NAVBAR*/
  .cardP {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: #f9fafa9a !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    flex-direction: row;
  }
  
  .image {
    width: 30%;
    display: flex;
    align-items: center;
  }
  
  .image img {
    width: 100%;
    height: 100% !important;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  
  .subscribe {
    flex: 1;
    margin-left: 2rem;
    color: #fff;
  }
  
  .subscribe p {
    margin: 1rem 0;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .subscribe form {
    display: flex;
    align-items: center;
  }
  
  .subscribe form input {
    padding: 0.75rem;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid #94949c;
    background: transparent;
    color: #94949c;
    font-weight: 300;
  }
  
  .subscribe form button {
    padding: 0.75rem;
    border-radius: 0.25rem;
    outline: none;
    margin-left: 0.5rem;
    border: 1px solid #93c814;
    background-color: #93c814;
    color: #303037;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .subscribe form button:hover {
    background: transparent;
    color: #93c814;
  }
  



  /*   COMENTARIOS*/

  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  a {
    color: #03658c;
    text-decoration: none;
  }
 
 ul {
   list-style-type: none;
 }
 



#map { height: 180px; }

 /** ====================
  * Lista de Comentarios
  =======================*/
 .comments-container {
   margin: 60px auto 15px;
   width: 768px;
 }
 
 .comments-container h1 {
   font-size: 36px;
   color: #283035;
   font-weight: 400;
 }
 
 .comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
 }
 
 .comments-list {
   margin-top: 30px;
   position: relative;
 }
 
 /**
  * Lineas / Detalles
  -----------------------*/
 .comments-list:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
 }
 
 .comments-list:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
 }
 

 .comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
 }
 
 .comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
 }
 
 .reply-list {
   padding-left: 88px;
   clear: both;
   margin-top: 15px;
 }
 
 /**
  * Caja del Comentario
  ---------------------------*/
 .comments-list .comment-box {
   width: 680px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   margin-top: 1rem;
 }
 
 .comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
 }
 
 .comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
 }
 
 .reply-list .comment-box {
   width: 610px;
 }
 .comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
 }
 
 .comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
 }
 
 .comment-box .comment-head i:hover {
   color: #03658c;
 }
 
 .comment-box .comment-name {
   color: #283035;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
 }
 
 .comment-box .comment-name a {
   color: #283035;
 }
 
 .comment-box .comment-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
 }
 
 .comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
 }
 

 /** =====================
  * Responsive
  ========================*/
 @media only screen and (max-width: 766px) {
   .comments-container {
     width: 480px;
   }
 
   .comments-list .comment-box {
     width: 390px;
   }
 
   .reply-list .comment-box {
     width: 320px;
   }
 }




