.container-perfil
    background: linear-gradient(to right, #7c7a74, #bfb28a)!important
    background: white
    border-radius: 50px

.register-container
    background-color: black
    width: 90%
    margin-left: 300px

.container-datos
   display: none
   justify-content: center
   align-content: center
   width: 100% !important
   height: 100% !important
   color: #cb990f
   
 
.imagenPerfil
    
    min-width: 60%
    max-width: 60%
    min-height: 200px
    max-height: 200px
    margin-left: 14%
    border-radius: 50%
    border: 6px solid #BA8B02

.btn-preferencias
    border-radius: 50%!important
    position: absolute
    margin-left: 1%
    transform: scale(0.1)

.cabeceraPerfil
    width: 100%
    background-color: aliceblue
    height: 17%
    display: flex
    flex-wrap: wrap
    justify-content: center
    background: linear-gradient(to right, #434343, #000000)
    border-radius: 50px
    padding: 2%
    
.div_imagen
    width: 30%
    height: 30%
   
    
.div_about_me
    width: 70%
   
.bodyDetails
    width: 100%
 
.evento-usuario
    display: flex
    justify-content: center
    flex-wrap: wrap

.active-content
    background: linear-gradient(to right, #434343, #000000)