.imagenPerfil
    border-radius: 50%
    min-width: 70%
    max-width: 70%
    margin-left: 14%
    border: 10px solid rgb(25, 61, 93)

.btn-preferencias
    border-radius: 50%!important
    position: absolute
    margin-left: 16%

.cabeceraPerfil
    width: 100%
    background-color: aliceblue
    height: 17%
    display: flex
    flex-wrap: wrap
    justify-content: center
    background: rgba(127, 119, 128, 0)
    
    

.div_imagen
    width: 30%
    height: 30%
   
    
.div_about_me
    width: 70%
   
   
    


.bodyDetails
    width: 100%
 
