.register-view
	.register-section

		flex: 1

		min-height: auto

		background: linear-gradient(to right, #434343, #000000)

		.register-container-view
			
			flex: 1

			min-height: auto
			width: 100%

			padding-top: 10px

			h3
				position: absolute

				left: 150px

				margin-bottom: 5rem

				color: aliceblue !important

				@media screen and (max-width: 1670px)
					left: 100px

				@media screen and (max-width: 1550px)
					left: 50px

				@media screen and (max-width: 1500px)
					left: 30px

				@media screen and (max-width: 1450px)
					position: static

					padding-top: 15px

					margin-bottom: 2rem

			.form-box
				min-width: 417px
				width: fit-content
				height: fit-content

				padding: 0.5rem

				background-color:rgba(15, 15, 19, 0.838)
				opacity: 1

				border-radius: 2%
				border: 2.5px solid #BA8B02

				color: aliceblue !important

				.header-form
					margin-bottom: 7px
	
				.body-form

					form

						.input-group

							.input-container-alone

								.form-control

									width: 100%

							.input-container-multiple
								
								.form-control

									width: 75%

						.register
						


