.register-view
	.register-section

		flex: 1

		min-height: auto

		background: linear-gradient(to right, #434343, #000000)

		.register-container-view
			
			flex: 1

			min-height: auto
			width: 100%

			padding-top: 10px

			h3
				position: absolute

				left: 130px

				margin-bottom: 5rem

				color: aliceblue !important

				@media screen and (max-width: 1860px)
					left: 90px

				@media screen and (max-width: 1700px)
					left: 55px

				@media screen and (max-width: 1550px)
					left: 35px

				@media screen and (max-width: 1500px)
					left: 10px

				@media screen and (max-width: 1450px)
					position: static

					padding-top: 15px

					margin-bottom: 2rem

			.form-box
				min-width: 460px
				width: fit-content
				height: fit-content

				padding: 0.5rem
				margin-bottom: 15px

				background-color:rgba(15, 15, 19, 0.838)
				opacity: 1

				border-radius: 2%
				border: 2.5px solid #BA8B02

				color: aliceblue !important

				.header-form
					margin-bottom: 7px
	
				.body-form

					form

						.input-group

							&:not(:first-child)
								margin-top: 20px	

							.input-group-prepend

							.input-group-text
								height: 100%

								background: linear-gradient(45deg, #ba4c02 , #fccb39)

								svg
									min-width: 20px
									color: white							

							.input-container-alone

								width: 95%

								.form-control

									width: 100%

							.input-container-multiple
								
								.form-control

									width: 71.5%

								&:first-child
									margin-right: auto
								&:last-child
									margin-left: auto

						.register
						


