
body {
  margin: 0 !important;
  padding: 0 !important;
  background: #000000!important;  /* fallback for old browsers */
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  font-size: large;
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
}
              
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-decoration: underline #BA8B02;

}
h1 , h2{
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  padding: 5%;
}

hr{
  width: 100%!important
}

.MuiButton-root{
  background-color: #2d08c2 !important;
  color: white !important;
}

.container{
  background-color: #faffff4c;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;
  margin-top: 5%;
  padding: 0!important
  
}


.my-swal {
  z-index: 1;
  height: 400px;
}